body {
    background-image: url(fondo1.jpg);
    height: 500%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(21, 191, 21);


}

.div-logo {
    height: 20rem;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20rem;


}

.encabezado {
    height: 17rem;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@font-face {
    font-family: 'Holyfat';
    src: url(Holyfat.ttf);
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.e {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Holyfat';
    background-color: rgb(255, 255, 255);
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    color: rgb(21, 191, 21);
    font-size: 2rem;
    border:none ;
   


}
input:hover {
     background-color:rgb(21, 191, 21);
     color: #ffffff;
}




.encabezado2 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 40rem;

}

.imagen {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 35rem;

}

.titulo {
 
    align-items: flex-start;
    color: rgb(21, 191, 21);
    font-size: 5rem;
    height: 7rem;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.parra {
    font-size: 3rem;
    text-decoration: none;
    color: rgb(21, 191, 21);
}

.flex-container-wrap {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 199, 253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    text-decoration: none;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: holyfat;
    

}

.boton {  
    height: 5.5rem;
    width: 14rem;
    background-color: rgb(21, 191, 21);
    text-decoration: none;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-family: holyfat;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.encabezado3 {
    height: 50rem;
    display: flex;
    gap: 30rem;
    justify-content: space-around;

}

.Objetivo {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-family: holyfat;
    color: rgb(255, 255, 255);
    height: 1rem;


}

.items {
    height: 3rem;
    display: flex;
    font-size: 2rem;
    color: #ffffff;

}

.Temas {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-family: holyfat;
    color: rgb(21, 191, 21);
    height: 1rem;
   
}
.Temas-flex{
padding:1rem;
background-color: rgb(21, 191, 21);

}
.flex {
    display: flex;
    font-size: 2rem;
   
    color: rgb(255, 255, 255);
    

}
.encabezado4-1{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
   
}

.imagenes {

    height: 17rem;
    display: flex;
    gap: 24rem;

}
.encabezado5{
    display: flex;
}

.Beneficios {    
    display: flex;
    justify-content: space-evenly;
}
.Beneficios-p{
    font-size: 4rem;
    font-family:holyfat ;
    color:rgb(21, 191, 21);
}
.encabezado5{
    display: flex;
    justify-content: space-around;
    height:30rem ;
}
.RESPUESTA{
font-size:3rem ;
color: rgb(12, 139, 249);
font-weight:300% ;
}
.CLIENTES{
    font-size:2rem ;
    color: rgb(1, 117, 218);
}
.texto{
    font-size:2rem ;
    color: rgb(6, 129, 236);
}
.parrafo{
    font-size:1.5rem ;
    color: rgb(6, 129, 236);
}
